<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body { background: cadetblue; margin:0; padding:0; }
    #app { text-align: center; vertical-align: middle; }
    section { height: 100vh; padding: 20px; box-sizing: border-box; position: relative; }
    section h1, div { z-index: 1; position: relative; }
    h1 { margin: 0; }
    .card { width:200px; height:300px; line-height: 300px; display: inline-block; margin: 20px;  }
    .card1 { background: brown; }
    .card2 { background: beige; }
    .card3 { background: burlywood; }
    .card4 { background: blueviolet; }
    .card p { margin: 0; }
    label { display: block; }
    s { text-decoration: none; }
    .img { display: block; height: 100%; background-size: cover; background-image: url("img/img.png"); background-position: right 100% top 100%; transition: 3s; transition-delay: 0.5s; }
    .imgMove { background-position: right 0 top 100%; }
    .page6 { position:absolute; left: 50%; top: 20px; transform: translateX(-50%); }
    p, s, a { font-size: 22px; }
    [mov] { opacity: 0; transition: opacity 1s; }
    [mov].txt { opacity: 1;}
    [mov][data-load="1"] { transition-delay: 3s;}
    [mov][data-load="2"] { transition-delay: 3.5s;}
    [mov][data-load="3"] { transition-delay: 4s;}
    [mov][data-load="4"] { transition-delay: 4.5s;}
    [mov][data-load="5"] { transition-delay: 5s;}
    [mov][data-load="6"] { transition-delay: 5.5s;}

    .card-reverse { transform: rotate3d(0,1,0,180deg); background-color: gray; transition: all 1.5s; }

    .hand { background-image: url("img/img_1.png"); width: 96px; height: 100px; position: absolute; top: 480px; }
    .hand.moving { animation-name: moving; animation-duration: 1s; animation-iteration-count: 5; }

    @keyframes moving {
      from {
        top: 480px;
      }
      to {
        top: 380px;
      }
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  </style>
</head>
<body>
<div id="app">
  <transition name="fade">
    <section v-if="page === 1">
      <h1>MPTI에 오신걸 환영합니다</h1>
      <p>
        텔미트렌의 다양한 처방 케이스에 대해
        좀더 나은 제품과 서비스를 만들기 위해
        선생님들의 많은 참여 부탁드립니다*
      </p>
      <a class="go" @click="go(2)">참여하기</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 2">
      <p>
        test 참여 전
        알고 계신 코드를 입력해 주세요*
      </p>
      <label>
        <s>코드</s>
        <input type="text" v-model="inputCode" @keyup.enter="codeCheck">
        <a class="submit" @click="codeCheck">확인</a>
      </label>
      <p>-$만약 알고 계신 코드가 없다면 <a @click="go(3)">이동</a> 버튼을 클릭해주세요</p>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 3">
      <p>테스트 진행을 위해 아래 정보를 입력해 주세요</p>
      <label>
        <s>병원명 :</s>
        <input type="text" v-model="user.hospital">
      </label>
      <label>
        <s>성함 :</s>
        <input type="text" v-model="user.name">
      </label>
      <a class="go" @click="userInfo">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 4">
      {{ user.hospital }} 병원(의원) {{ user.name }}선생님 안녕하세요!<br> 테스트를 시작하겠습니다.
      <a class="go" @click="go(5)">시작</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 5">
      <div class="hand" :class="{moving: handActive}"></div>
      <div class="card card1" @click="cardSelect(6)" :class="[(cardReverse === 6) ? 'card-reverse' : '']">
        <p>4월</p>
      </div>
      <div class="card card2" @click="cardSelect(7)" :class="[(cardReverse === 7) ? 'card-reverse' : '']">
        <p>5월</p>
      </div>
      <div class="card card3" @click="cardSelect(8)" :class="[(cardReverse === 8) ? 'card-reverse' : '']">
        <p>6월</p>
      </div>
      <div class="card card4" @click="cardSelect(9)" :class="[(cardReverse === 9) ? 'card-reverse' : '']">
        <p>7월</p>
      </div>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 6">
      <div class="img" :class="{imgMove: isActive}"></div>
<!--      <img ref="bg" src="img/img.png" alt="" class="bg" id="bg">-->
      <div class="page6">
        <h2 mov data-load="1" :class="{txt: txtActive}">Part 1. 고혈압 환자 관리 행동 양식 조사 (1)</h2>
        <div>
          <p mov data-load="2" :class="{txt: txtActive}">생전 처음으로 고혈압을 진단받은 다음과 같은 환자의 혈압 관리를 위해 선생 님께서는 가장 먼저 어떤 방식을 선택하시겠습니까?</p>
          <img src="img/img1.png" alt="" mov data-load="3" :class="{txt: txtActive}">
          <label mov data-load="4" :class="{txt: txtActive}">
            <input type="radio" value="a" v-model="q1">
            <i></i>
            <s>1.즉시 혈압강하제 처방을 고려한다.</s>
          </label>
          <label mov data-load="5" :class="{txt: txtActive}">
            <input type="radio" value="b" v-model="q1">
            <i></i>
            <s>2.식이 및 운동요법 등 생활습관개선을 우선 권고한다.</s>
          </label>
        </div>
        <a class="go" @click="formCheck('q1')" mov data-load="6" :class="{txt: txtActive}">다음</a>
      </div>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 7">
      <h2>Part 1. 고혈압 환자 관리 행동 양식 조사 (2)</h2>
      <div>
        <p>즉시 혈압강하제 처방을 고려하시게 된 이유는 무엇입니까? (복수 선택 가능)</p>
        <label>
          <input type="checkbox" value="a" v-model="q1a">
          <i></i>
          <s>1.신속한 혈압 조절이 필요해서</s>
        </label>
        <label>
          <input type="checkbox" value="b" v-model="q1a">
          <i></i>
          <s>2.연령이나 비만도가 경계선에 있는 환자이므로</s>
        </label>
        <label>
          <input type="checkbox" value="c" v-model="q1a">
          <i></i>
          <s>3.직업 상 규칙적인 생활습관개선이 여의치 않아서</s>
        </label>
        <label>
          <input type="checkbox" value="d" v-model="q1a">
          <i></i>
          <s>4.기타</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q1a')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 8">
      <h2>Part 1. 고혈압 환자 관리 행동 양식 조사 (2)</h2>
      <div>
        <p>생활습관개선을 우선 권고하시게 된 이유는 무엇입니까? (복수 선택 가능)</p>
        <label>
          <input type="checkbox" value="a" v-model="q1b">
          <i></i>
          <s>1.생활습관개선으로 혈압 관리가 가능하다고 판단해서</s>
        </label>
        <label>
          <input type="checkbox" value="b" v-model="q1b">
          <i></i>
          <s>2.환자가 혈압강하제 복용을 꺼려해서</s>
        </label>
        <label>
          <input type="checkbox" value="c" v-model="q1b">
          <i></i>
          <s>3.환자가 복용하기 간편한 혈압강하제가 마땅치 않아서</s>
        </label>
        <label>
          <input type="checkbox" value="d" v-model="q1b">
          <i></i>
          <s>4.기타</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q1b')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 9">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (1)</h2>
      <div>
        <p>선생님께서는 텔미트렌 20mg을 처방해보신 경험이 있으신지요?</p>
        <label>
          <input type="radio" value="a" v-model="q2">
          <i></i>
          <s>1.있다</s>
        </label>
        <label>
          <input type="radio" value="b" v-model="q2">
          <i></i>
          <s>2.없다</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q2')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 10">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (1)</h2>
      <div>
        <p>1. 텔미트렌 20mg은 어떤 환자에게 처방하셨습니까? (복수 선택 가능)</p>
        <label>
          <input type="checkbox" value="a" v-model="q2a_1">
          <i></i>
          <s>1.처음 고혈압으로 진단된 환자에게 단독 처방</s>
        </label>
        <label>
          <input type="checkbox" value="b" v-model="q2a_1">
          <i></i>
          <s>2.처음 고혈압으로 진단된 환자에게 다른 계열 혈압강하제와 병용 처방</s>
        </label>
        <label>
          <input type="checkbox" value="c" v-model="q2a_1">
          <i></i>
          <s>3.기존ARB(텔미살탄제제포함)를 처방받고 있던 환자에게 교체처방</s>
        </label>
        <label>
          <input type="checkbox" value="d" v-model="q2a_1">
          <i></i>
          <s>4.기존 다른 계열 혈압강하제를 처방받고 있던 환자에게 교체 처방</s>
        </label>
        <label>
          <input type="checkbox" value="e" v-model="q2a_1">
          <i></i>
          <s>5.동반질환 (당뇨병, 고지혈증 등) 이 있는 고혈압 환자에게 단독 처방</s>
        </label>
        <label>
          <input type="checkbox" value="f" v-model="q2a_1">
          <i></i>
          <s>6.동반질환 (당뇨병, 고지혈증 등) 이 있는 고혈압 환자에게 병용 처방</s>
        </label>
        <label>
          <input type="checkbox" value="g" v-model="q2a_1">
          <i></i>
          <s>7.기타</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q2a_1')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 11">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (2)</h2>
      <div>
        <p>1-1. 텔미트렌 20mg은 어떤 ARB 제제를 대신하여 처방하셨습니까? (복수 선택 가능)</p>
        <label>
          <input type="checkbox" value="a" v-model="q2a_1c">
          <i></i>
          <s>1.로사르탄 (losartan; 코자 등) 제제</s>
        </label>
        <label>
          <input type="checkbox" value="b" v-model="q2a_1c">
          <i></i>
          <s>2.칸데사르탄 (candesartan; 아타칸 등) 제제</s>
        </label>
        <label>
          <input type="checkbox" value="c" v-model="q2a_1c">
          <i></i>
          <s>3.이르베사르탄 (irbesartan; 아프로벨 등) 제제</s>
        </label>
        <label>
          <input type="checkbox" value="d" v-model="q2a_1c">
          <i></i>
          <s>4.텔미사르탄 (telmesartan; 미카르디스 등) 제제 (40mg, 80mg)</s>
        </label>
        <label>
          <input type="checkbox" value="e" v-model="q2a_1c">
          <i></i>
          <s>5.올메사르탄 (olmesartan; 올메텍 등) 제제</s>
        </label>
        <label>
          <input type="checkbox" value="f" v-model="q2a_1c">
          <i></i>
          <s>6.발사르탄 (valsartan; 디오반 등) 제제</s>
        </label>
        <label>
          <input type="checkbox" value="g" v-model="q2a_1c">
          <i></i>
          <s>7.에프로사르탄 (eprosartan; 테베텐 등) 제제</s>
        </label>
        <label>
          <input type="checkbox" value="h" v-model="q2a_1c">
          <i></i>
          <s>8.피마사르탄 (fimasartan; 카나브 등) 제제</s>
        </label>
        <label>
          <input type="checkbox" value="i" v-model="q2a_1c">
          <i></i>
          <s>9.아질사르탄 (azilsartan; 이달비) 제제</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q2a_1c')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 12">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (3)</h2>
      <div>
        <p>2. 텔미트렌 20mg의 혈압 강하 효과에 대해 어떻게 생각하십니까?</p>
        <label>
          <input type="radio" value="a" v-model="q2a_2">
          <i></i>
          <s>1.매우 충분하다</s>
        </label>
        <label>
          <input type="radio" value="b" v-model="q2a_2">
          <i></i>
          <s>2.충분하다</s>
        </label>
        <label>
          <input type="radio" value="c" v-model="q2a_2">
          <i></i>
          <s>3.보통이다</s>
        </label>
        <label>
          <input type="radio" value="d" v-model="q2a_2">
          <i></i>
          <s>4.부족하다</s>
        </label>
        <label>
          <input type="radio" value="e" v-model="q2a_2">
          <i></i>
          <s>5.매우 부족하다</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q2a_2')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 13">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (3)</h2>
      <div>
        <p>2-1. 텔미트렌 20mg의 혈압 강하 효과가 부족했을 때 어떻게 대응하셨습니까? (복수 선택 가능)</p>
        <label>
          <input type="radio" value="a" v-model="q2a_2d">
          <i></i>
          <s>1.텔미트렌 용량 증가 (텔미트렌 40mg, 80mg 제형으로 변경)</s>
        </label>
        <label>
          <input type="radio" value="b" v-model="q2a_2d">
          <i></i>
          <s>2.텔미트렌 20mg에 타 계열 혈압강하제 병용 투여</s>
        </label>
        <label>
          <input type="radio" value="c" v-model="q2a_2d">
          <i></i>
          <s>3.텔미트렌 20mg 대신 타사 텔미사르탄 단일제제 처방</s>
        </label>
        <label>
          <input type="radio" value="d" v-model="q2a_2d">
          <i></i>
          <s>4.텔미트렌 20mg 대신 텔미사르탄 성분이 포함된 복합제 처방</s>
        </label>
        <label>
          <input type="radio" value="e" v-model="q2a_2d">
          <i></i>
          <s>5.텔미트렌 20mg 대신 다른 ARB 단일제제 처방</s>
        </label>
        <label>
          <input type="radio" value="e" v-model="q2a_2d">
          <i></i>
          <s>6.텔미트렌 20mg 대신 다른 ARB 성분이 포함된 복합제 처방</s>
        </label>
        <label>
          <input type="radio" value="e" v-model="q2a_2d">
          <i></i>
          <s>7.텔미트렌 20mg 대신 타 계열 혈압강하제 단일제제 또는 복합제 처방</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q2a_2d')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 14">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (4)</h2>
      <div>
        <p>3. 기존 텔미사르탄 제제와 비교하여 텔미트렌 20mg의 장점은 무엇이라고 생각하십니까?</p>
        <label>
          <input type="radio" value="a" v-model="q2a_3">
          <i></i>
          <s>1.유일한 텔미사르탄 20mg 저용량 제제로 유연한 처방 가능</s>
        </label>
        <label>
          <input type="radio" value="b" v-model="q2a_3">
          <i></i>
          <s>2.비교적 작은 알약 사이즈</s>
        </label>
        <label>
          <input type="radio" value="c" v-model="q2a_3">
          <i></i>
          <s>3.텔미트렌 브랜드명으로 20mg, 40mg, 80mg 전 라인업 보유하여 용량
            변경 시 처방전 상의 브랜드명 및 회사명이 유지됨</s>
        </label>
        <label>
          <input type="radio" value="d" v-model="q2a_3">
          <i></i>
          <s>4.신뢰할수있는회사제품</s>
        </label>
        <label>
          <input type="radio" value="e" v-model="q2a_3">
          <i></i>
          <s>5.기타</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q2a_3')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 15">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (5)</h2>
      <div>
        <p>1. 텔미트렌 20mg을 처방해 본 경험이 없으신 이유는 무엇입니까? (복수 선택 가능)</p>
        <label>
          <input type="checkbox" value="a" v-model="q2b_1">
          <i></i>
          <s>1.텔미트렌 20mg에 대해 들어본 적이 없어서</s>
        </label>
        <label>
          <input type="checkbox" value="b" v-model="q2b_1">
          <i></i>
          <s>2.20mg과 같은 저용량 제제 처방의 필요성을 못 느껴서</s>
        </label>
        <label>
          <input type="checkbox" value="c" v-model="q2b_1">
          <i></i>
          <s>3.텔미트렌 브랜드명으로 20mg, 40mg, 80mg 전 라인업 보유하여 용량
            변경 시 처방전 상의 브랜드명 및 회사명이 유지됨</s>
        </label>
        <label>
          <input type="checkbox" value="d" v-model="q2b_1">
          <i></i>
          <s>4.신뢰할수있는회사제품</s>
        </label>
        <label>
          <input type="checkbox" value="e" v-model="q2b_1">
          <i></i>
          <s>5.기타</s>
        </label>
      </div>
      <a class="go" @click="formCheck('q2b_1')">다음</a>
    </section>
  </transition>

  <transition name="fade">
    <section v-if="page === 16">
      <h2>Part 2. 텔미트렌 20mg 처방 경험 조사 (5)</h2>
      <div>
        <p>2. 향후 텔미트렌 20mg을 처방해보실 의향이 있으신지요?</p>
        <label>
          <input type="radio" value="a" v-model="q2b_2">
          <i></i>
          <s>1.있다</s>
        </label>
        <label>
          <input type="radio" value="b" v-model="q2b_2">
          <i></i>
          <s>2.없다</s>
        </label>
        <label>
          <input type="radio" value="c" v-model="q2b_2">
          <i></i>
          <s>3.잘 모르겠다</s>
        </label>
      </div>
      <a class="go" @click="alert('참여해 주셔서 감사합니다.')">마침</a>
    </section>
  </transition>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app',

    data: {
      code: '1234',
      inputCode: '',
      page: 4,
      dbData: {
        hospital: '을지',
        name: '정우성'
      },
      user: {
        hospital: '',
        name: ''
      },
      q1: false,
      q1a: [],
      q1b: [],
      q2: false,
      q2a_1: [],
      q2a_2: false,
      q2a_3: false,
      q2a_1c: [],
      q2a_2d: false,
      q2b_1: [],
      q2b_2: false,
      isActive: false,
      txtActive: false,
      cardReverse: '',
      handActive: false,
    },
    watch: {
      page: function() {
        if(this.page === 5) {
          this.handMoving();
        }
        if(this.page === 6) {
          this.imgMove();
        } else {
          this.isActive = false;
        }
      }
    },
    methods: {
      handMoving: function() {
        var self = this;
        setTimeout(function() {
          self.handActive = !self.handActive;
        },1000)
      },
      txtLoad: function() {
        var self = this;
        setTimeout(function() {
          self.txtActive = !self.txtActive;
        },300)
      },
      imgMove: function() {
        var self = this;
        setTimeout(function() {
          self.isActive = !self.isActive;
        },300)
        this.txtLoad();
      },
      codeCheck: function() {
        if(this.inputCode === '') {
          alert('코드를 입력하세요.')
          return
        }
        if(this.code === this.inputCode) {
          alert('확인되었습니다.')
        } else {
          alert('유효한 코드 번호가 아닙니다.')
        }
        this.codeClear();
      },
      codeClear: function() {
        this.inputCode = '';
      },
      textChanger: function() {
        this.user.hospital = this.user.hospital.replace('병원','');
      },
      cardSelect: function(v) {
        this.cardReverse = v;
        var self = this;
        setTimeout(function() {
          self.go(v);
        },2000)
      },
      formCheck: function(v) {
        if(v === 'q1a' || v === 'q1b' || v === 'q2b_1') {
          this.check(v);
          return false;
        }
        if(!this[v] || this[v].length === 0) {
          this.msg();
          return false;
        } else if (this.q1 === 'a') {
          this.go(7);
          this.stateA(v);
        } else if (this.q1 === 'b') {
          this.go(8);
          this.stateA(v);
        } else if (this.q2 === 'a') {
          this.go(10);
          this.stateA(v);
        } else if (this.q2 === 'b') {
          this.go(15);
          this.stateA(v);
        } else if (this.q2a_1) {
          for (let i = 0; i <this.q2a_1.length; i++) {
            if(this.q2a_1[i] === 'c') {
              this.go(11);
            } else {
              this.go(12);
            }
          }
          this.stateB(v);
        }
        if(this.q2a_1c) {
          this.go(12);
          this.stateB(v);
          return false
        }

        if (this.q2a_2.length !== 0) {
          for (let i = 0; i < this.q2a_2.length; i++) {
            if(this.q2a_2[i] === 'd' || this.q2a_2[i] === 'e') {
              this.go(13);
            }
          }
          this.stateA(v);
          return false
        }
        if(this.q2a_2d) {
          this.go(14);
          this.stateA(v);
          return false
        }
        if(this.q2b_1) {
          this.go(16);
          this.stateB(v);
          return false
        }
      },
      check: function(v) {
        if (v === 'q2b_1') {
          this.go(15);
          this.stateB(v);
        } else if (v === 'q1a') {
          this.go(9);
          this.stateB(v);
        }
      },
      msg: function(v) {
        if(!this[v]) {
          alert('질문에 답해주세요.')
          return false;
        }
      },
      userInfo: function() {
        if(!this.user.hospital && !this.user.name) {
          alert('병원명과 성함을 작성해 주세요.')
          return false;
        } else {
          this.go(4);
        }
        this.textChanger();
      },
      go: function(to) {
        this.page = to;
      },
      stateA: function(v) {
        this[v] = false;
      },
      stateB: function(v) {
        this[v] = [];
      }
    },
  })
</script>
</body>
</html>